body {
  font-size: 16px;
  padding: 20px 100px 0px 100px;
  background-color:#8ECAE6;
}

/* Form */
input[type=checkbox] {
  transform: scale(1.5);
  margin-right: 10px;
}

input[type=text] {
  font-size: 1em;
}

input[type=checkbox] {
  margin-left: 5px;
}

input[type=range] {
  margin-left: 10px;
}

button {
  font-family: 'Arvo';
  font-size: 1em;
}

li {
  margin-top: 10px;
}

img {
  margin-top: 50px;
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Sriracha', cursive;
  color: #023047;
}

p {
  font-family: "Times New Roman", serif;
  color: #023047;
}

/*Github link*/
.gitLink{
  padding: 5px;
  float: right;
  background-color: #FB8500;
}

@media only screen and (min-width: 961px) {
  body {
    width: 960px;
    margin: 0 auto;
  }
}
